# Produccion Hostinger:
NEXT_PUBLIC_API_BASE_URL=https://api.afcrseguridad.com
NEXT_PUBLIC_SUPABASE_URL=https://omkbowrspgbuwpifksfk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ATKf-AGUu2fsz7w-W6G2PQ_DxSb5cdE

# Pruebas locales/LAN:
# NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
